@import '../abstracts/variables';

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 100%;
}