@import '../abstracts/variables';

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-centre {
	display: flex;
	justify-content: center;
}

@mixin hover {
	&:hover {
		& a {
			color: $whiteColor;
		}
	}
}

@mixin hover-button {
	&:hover {
		background-color: $whiteColor;
		color: $liteVioletColor;
	}
}

@mixin container-border {
	min-width: 320px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}