@import"../abstracts/defaults";
@import"../abstracts/mixins";
@import"../abstracts/variables";

.here {
  display: block;
  font-family: Montserat;
  background-color: #F4F4F4;
  width: 100%;
}

.here__container {
  @include container-border;

  @media(min-width:$bp-tablet) {
    // max-width: 100%;
  }

  @media(min-width:$bp-desktop) {
    @include container-border;
    padding-top: 100px;
    display: grid;
    grid-template-areas:
      "cards title"
      "cards banner"
      "cards banner"
      "cards banner";
  }
}

.here__card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  @media(min-width:$bp-tablet) {
    display: grid;
    grid-template-columns: auto auto;
  }

  @media(min-width:$bp-desktop) {
    align-items: start;
  }
}

.here__title {
  display: block;
  color: rgba(141, 129, 172, 1);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 36px;
  padding-top: 32px;
  max-width: 230px;
  grid-area: title;

  @media(min-width:$bp-tablet) {
    max-width: 600px;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 52px;
  }

  @media(min-width:$bp-desktop) {
    margin-bottom: 19px;
    padding-top: 0;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: left;
    // max-width: 80%;
    // margin-left: 25px;
  }
}

.here__title::before {
  content: "<";
}

.here__title::after {
  content: ">";
}

.here__card-img1 {
  width: 111px;
}

.here__card-img2 {
  width: 90px;
}

.here__card-img3 {
  width: 60px;
}

.here__card-img4 {
  width: 71px;
}

.here__card-img1,
.here__card-img2,
.here__card-img3,
.here__card-img4 {
  margin-bottom: 36px;
}

.here__card-flexcontainer {
  width: 115px;
  display: flex;
  justify-content: center;


  @media(min-width:$bp-tablet) {
    display: flex;
    justify-content: center;
  }
}


.here__card-title{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 14px;

  @media(min-width:$bp-tablet) {
    text-align: left;
  }
}

.here__card-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 38px;
  color: rgba(132, 142, 151, 1);

  @media(min-width:$bp-tablet) {

    margin-bottom: 0;
    text-align: left;
    line-height: 14px;
  }

  @media(min-width:$bp-tablet) {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.here-card-text:last-child {
  margin-bottom: 37px;

  @media(min-width:$bp-desktop) {
    margin-bottom: 33px;
  }
}

.here__banner {
  display: flex;
  justify-content: end;
  grid-area: banner;

  & img:last-child {
    display: none;
  }

  @media(min-width:$bp-tablet) {
    & img:last-child {
      display: flex;
      justify-content: end;
    }

    & img:first-child {
      display: none;
    }
  }

  @media(min-width:$bp-desktop) {
    width: 100%;
    max-height: 519px;
    margin-bottom: 33px;
  }

}

.here__card-discribe {
  max-width: 563px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.here__card-container {
  margin: 0 auto;
  max-width: 732px;
  display: grid;
  grid-area: cards;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;

  @media(min-width:$bp-desktop) {

    // padding-left: 5%;
  }
}