@import"../abstracts/defaults";
@import"../abstracts/mixins";
@import"../abstracts/variables";





.main__revolut-btns {

  @include flex-centre;
  flex-wrap: wrap;
  gap: 15px;


}

.btn-wrapper-symbol span {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
}

.btn-wrapper-counter {
  font-size: 14px;
  font-weight: 700;
  font-family: Lato;
  display: flex;
  align-items: center;
  padding-left: 5px;

}

.download-text {
  margin-top: 35px;
  margin-bottom: 80px;
  font-family: $fontMonserrat;
  color: $mainVioletColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: center;

  @media(min-width:$bp-desktop) {
    padding-top: 19px;
  }


}

.btn-wrapper {
  display: flex;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
  width: 108px;
  height: 26px;
}

.btn-wrapper-symbol {
  @include flex-centre;
  background: linear-gradient(white, rgb(236, 236, 236));
  align-items: center;
  width: 66px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}

.main__revolut {
  max-width: 273px;
  height: 263px;
  margin: 0 auto;
  margin-bottom: 88px;

  @media(min-width:$bp-tablet) {
    max-width: 689px;
  }

  @media(min-width:$bp-desktop) {
    max-width: 906px;
  }

}

.main__revolut-content {
  @include flex-centre;
  flex-direction: column;

}

.main__revolut-title {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(99, 92, 115, 1);
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-top: 44px;

  @media(min-width:$bp-tablet) {
    max-width: 100%;
  }

  @media(min-width:$bp-tablet) {
    max-width: 100%;
  }
}

.main__revolut-text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 36px;

  @media(min-width:$bp-tablet) {
    // max-width: 689px;
    // width: 100%;
  }
}