@import './abstracts/defaults';
@import './abstracts/mixins';
@import './abstracts/variables';

.people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/feedback-section-background.png) no-repeat top center, url(../img/violet.png) repeat;
  font-family: $fontLato;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  color: rgb(255, 255, 255);
  // min-width: 320px;
  
}

.people__wrapper{
@include container-border
}

.people__header {
    font-family: $fontMonserrat;
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    color: rgb(255, 255, 255);
    margin-top: 57px;
    text-align: center;
    line-height: 50px;
}
  
.people__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}
  
.people__text {
  text-align: center;
  line-height: 24px;
  margin-top: 33px;
  padding-left: 30px;
  padding-right: 30px;
}
  
.people__bottom-text {
  width: 78%;
  margin-top: 37px;
  margin-bottom: 22px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgb(162, 145, 165);
  
}
  
.people__bottom-separator {
  width: 245px;
  margin-bottom: 15px;
  height: 2px;
  text-align: center;
  background-color: rgb(100, 87, 102);

}
  
@media (min-width: $bp-tablet) {
  .people {
    background: url(../img/feedback-section-background.png) no-repeat cover center;
  }

  .people__header {
    margin-top: 87px;
  }

  .people__feedback-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    align-items: baseline;
  
  }
  
  .people__bottom-text {
    margin-top: 118.5px;
    width: 91.66%;
  }

  .people__bottom-separator {
    width: 555px;
  }

  
}
  
@media (min-width: $bp-desktop) {
  
  .people__feedback-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    padding-left: 80px;
    padding-right: 80px;

  }
  
  .people__bottom-text {
    margin-top: 118.5px;
  }
  
  .people__header {
    margin-top: 108px;
  }

  .people__bottom-separator {
    width: 780px;
  
  }
}
  
  